<div class="container">
  <h1>Update Item</h1>
  <a href="#" routerLink="/item/index" class="btn btn-primary">Back</a>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input formControlName="name" id="name" type="text" [(ngModel)]="item.name" class="form-control">
      <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
        <div *ngIf="f['name'].errors && f['name'].errors['required']">Name is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="state">State:</label>
      <input formControlName="state" id="state" type="text" [(ngModel)]="item.state" class="form-control">
      <div *ngIf="f['state'].touched && f['state'].invalid" class="alert alert-danger">
        <div *ngIf="f['state'].errors && f['state'].errors['required']">State is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="zip">Zip:</label>
      <input formControlName="zip" id="zip" type="text" [(ngModel)]="item.zip" class="form-control">
      <div *ngIf="f['zip'].touched && f['zip'].invalid" class="alert alert-danger">
        <div *ngIf="f['zip'].errors && f['zip'].errors['required']">Zip is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="amount">Amount:</label>
      <input formControlName="amount" id="amount" type="text" [(ngModel)]="item.amount" class="form-control">
      <div *ngIf="f['amount'].touched && f['amount'].invalid" class="alert alert-danger">
        <div *ngIf="f['amount'].errors && f['amount'].errors['required']">Amount is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="qty">Qty:</label>
      <input formControlName="qty" id="qty" type="text" [(ngModel)]="item.qty" class="form-control">
      <div *ngIf="f['qty'].touched && f['qty'].invalid" class="alert alert-danger">
        <div *ngIf="f['qty'].errors && f['qty'].errors['required']">Qty is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="item">Item:</label>
      <input formControlName="item" id="item" type="text" [(ngModel)]="item.item" class="form-control">
      <div *ngIf="f['item'].touched && f['item'].invalid" class="alert alert-danger">
        <div *ngIf="f['item'].errors && f['item'].errors['required']">Item is required.</div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>
  </form>
</div>
